---
http_interactions:
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/TaxCloud/Lookup?apiKey=YOUR%20API%20LOGINID%20HERE
    body:
      encoding: UTF-8
      string: '{"apiLoginID":"YOUR%20API%20KEY%20HERE","customerID":"4c8ae4e1-eff7-415a-a2f3-522297063551","cartItems":[{"Qty":1,"Price":9.99,"TIC":"00000","ItemID":1,"Index":0},{"Qty":1,"Price":19.99,"TIC":"20010","ItemID":1,"Index":1}],"origin":{"Zip4":null,"Zip5":"06851","State":"CT","City":"Norwalk","Address2":"Third
        Floor","Address1":"162 East Avenue"},"destination":{"Zip4":null,"Zip5":"98199","State":"WA","City":"Seattle","Address2":"Suite
        2B","Address1":"3121 West Government Way"},"cartID":"bb449130-41c6-4bba-8632-5d40886e83cf","deliveredBySeller":"false"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"CartID":"bb449130-41c6-4bba-8632-5d40886e83cf","CartItemsResponse":[{"CartItemIndex":0,"TaxAmount":0.95904},{"CartItemIndex":1,"TaxAmount":1.91904}],"ResponseType":3,"Messages":[]}'
  recorded_at: Tue, 26 Apr 2016 00:28:31 GMT
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/taxcloud/AuthorizedWithCapture?apiKey=YOUR%20API%20LOGINID%20HERE
    body:
      encoding: UTF-8
      string: apiLoginId=YOUR%20API%20KEY%20HERE&cartID=bb449130-41c6-4bba-8632-5d40886e83cf&customerID=4c8ae4e1-eff7-415a-a2f3-522297063551&dateAuthorized=2016-04-25T17%3A28%3A31-07%3A00&dateCaptured=2016-04-25T17%3A28%3A31-07%3A00&orderID=2f8f2065-7676-4c9d-97cd-385de357b9b6
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseType":3,"Messages":[]}'
  recorded_at: Tue, 26 Apr 2016 00:28:31 GMT
recorded_with: VCR 2.9.3
