---
http_interactions:
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/TaxCloud/Lookup?apiKey=YOUR%20API%20LOGINID%20HERE
    body:
      encoding: UTF-8
      string: '{"apiLoginID":"YOUR%20API%20KEY%20HERE","customerID":"daeccde6-7c5b-49f8-8db3-d18adca4c736","cartItems":[{"Qty":1,"Price":9.99,"TIC":"00000","ItemID":1,"Index":0},{"Qty":1,"Price":19.99,"TIC":"20010","ItemID":1,"Index":1}],"origin":{"Zip4":null,"Zip5":"06851","State":"CT","City":"Norwalk","Address2":"Third
        Floor","Address1":"162 East Avenue"},"destination":{"Zip4":null,"Zip5":"98199","State":"WA","City":"Seattle","Address2":"Suite
        2B","Address1":"3121 West Government Way"},"cartID":"d7dd5977-f3e0-4833-aaa8-a8cfb0edd37e","deliveredBySeller":"false"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"CartID":"d7dd5977-f3e0-4833-aaa8-a8cfb0edd37e","CartItemsResponse":[{"CartItemIndex":0,"TaxAmount":0.95904},{"CartItemIndex":1,"TaxAmount":1.91904}],"ResponseType":3,"Messages":[]}'
  recorded_at: Tue, 26 Apr 2016 00:26:36 GMT
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/taxcloud/Authorized?apiKey=YOUR%20API%20LOGINID%20HERE
    body:
      encoding: UTF-8
      string: apiLoginId=YOUR%20API%20KEY%20HERE&cartID=d7dd5977-f3e0-4833-aaa8-a8cfb0edd37e&customerID=daeccde6-7c5b-49f8-8db3-d18adca4c736&dateAuthorized=2016-04-25&orderID=ad0b7fba-0fd8-4b39-8be8-72dbbb59ee53
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseType":3,"Messages":[]}'
  recorded_at: Tue, 26 Apr 2016 00:26:37 GMT
recorded_with: VCR 2.9.3
