---
http_interactions:
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/taxcloud/VerifyAddress?apiKey=YOUR%20API%20LOGINID%20HERE
    body:
      encoding: UTF-8
      string: Address1&Address2&City&State&Zip4&Zip5
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrNumber":"98","ErrDescription":"Unable to process address","Address1":null,"Address2":null,"City":null,"State":null,"Zip5":null,"Zip4":null}'
  recorded_at: Fri, 06 May 2016 21:49:12 GMT
recorded_with: VCR 2.8.0
