---
http_interactions:
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/TaxCloud/LookupForDate?apiKey=YOUR%20API%20LOGINID%20HERE
    body:
      encoding: UTF-8
      string: '{"apiLoginID":"YOUR%20API%20KEY%20HERE","customerID":"ff9993ad-ce80-4b28-a81d-e89933b57231","cartItems":[{"Qty":1,"Price":9.99,"TIC":"00000","ItemID":1,"Index":0},{"Qty":1,"Price":19.99,"TIC":"20010","ItemID":1,"Index":1}],"origin":{"Zip4":null,"Zip5":"06851","State":"CT","City":"Norwalk","Address2":"Third
        Floor","Address1":"162 East Avenue"},"destination":{"Zip4":null,"Zip5":"98199","State":"WA","City":"Seattle","Address2":"Suite
        2B","Address1":"3121 West Government Way"},"cartID":"906209d3-0af4-4eab-a55f-aeff37aeb290","deliveredBySeller":"false","useDate":"2016-08-14"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"CartID":"906209d3-0af4-4eab-a55f-aeff37aeb290","CartItemsResponse":[{"CartItemIndex":0,"TaxAmount":0.95904},{"CartItemIndex":1,"TaxAmount":1.91904}],"ResponseType":3,"Messages":[]}'
  recorded_at: Fri, 06 May 2016 21:25:54 GMT
recorded_with: VCR 2.8.0
