---
http_interactions:
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/taxcloud/VerifyAddress?apiKey=YOUR%20API%20LOGINID%20HERE
    body:
      encoding: UTF-8
      string: Address1=162+East+Avenue&Address2=Third+Floor&City=Norwalk&State=WA&Zip4=0000&Zip5=06851
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrNumber":"0","ErrDescription":null,"Address1":"162 East Ave # 3","Address2":null,"City":"Norwalk","State":"CT","Zip5":"06851","Zip4":"5715"}'
  recorded_at: Fri, 06 May 2016 21:41:15 GMT
recorded_with: VCR 2.8.0
